---
import Recetas from "../components/Recetas.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="RECETAS RUBEN">
	<h1 class="text-white font-bold text-center py-4 text-3xl">
		RECETAS RUBEN
	</h1>
	<Recetas />
</Layout>

<style>
	/* Puedes agregar estilos adicionales aquí si es necesario */
</style>
