---
import Recetas from '../components/Recetas.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title="RECETAS RUBEN">
	<h1 class="text-white font-bold text-center py-2 text-2xl">RECETAS RUBEN</h1>
	<Recetas />
</Layout>

<style>
	
</style>
